In [12]:
import pandas as pd

In [13]:
local_systems = pd.read_csv('data/core/systems_cleaned.csv')

In [14]:
local_systems.columns

Index(['system_id', 'system_public_name', 'site_location',
       'timezone_or_utc_offset', 'latitude', 'longitude', 'elevation_m',
       'dc_capacity_kW', 'kg_climate', 'pvcz_composite', 'pvcz_t_rack',
       'pvcz_t_roof', 'pvcz_humidity', 'pvcz_wind', 'tracking', 'type',
       'azimuth', 'tilt', 'first_timestamp', 'last_timestamp', 'years',
       'number_records', 'dataset_size_mb', 'available_sensor_channels',
       'qa_status', 'qa_issue', 'first_year', 'is_prize_data',
       'is_lake_parquet_data', 'is_lake_csv_data', 'has_irrad_data',
       'has_power_data', 'has_ambient_temp_data', 'has_some_temp_data',
       'has_pow_data'],
      dtype='object')

In [20]:
local_systems_just_new = local_systems.loc[
    :, ['system_id', 'latitude', 'longitude','has_irrad_data',
        'has_power_data', 'has_ambient_temp_data', 'has_some_temp_data']
]

In [21]:
local_systems_just_new.head()

,system_id,latitude,longitude,has_irrad_data,has_power_data,has_ambient_temp_data,has_some_temp_data
0,2,39.7214,-105.0972,True,False,False,True
1,3,39.7214,-105.0972,True,False,False,True
2,4,39.7406,-105.1774,True,False,True,True
3,10,39.7404,-105.1774,True,False,True,True
4,33,39.7404,-105.1772,True,False,True,True

In [17]:
local_systems_just_new[local_systems_just_new['has_power_data']]

,system_id,latitude,longitude,first_year,is_prize_data,is_lake_parquet_data,is_lake_csv_data,has_irrad_data,has_power_data,has_ambient_temp_data,has_some_temp_data
154,2105,20.792530,-156.512000,2018.0,True,False,False,True,True,True,True
155,2107,38.996306,-122.134111,2017.0,True,False,False,True,True,True,True
160,7333,36.578000,-120.401600,2016.0,True,False,False,True,True,False,False
162,9068,40.386400,-104.551200,2017.0,True,False,False,True,True,True,True
163,9069,33.676200,-83.676000,2016.0,True,False,False,True,True,True,True

In [18]:
my_str = 'prepare' 
my_str[0].upper() + my_str[1:]

'Prepare'