In [1]:
import pandas as pd

In [2]:
local_systems = pd.read_csv('data/core/systems_cleaned.csv')

In [28]:
local_systems.columns

Index(['system_id', 'system_public_name', 'site_location',
       'timezone_or_utc_offset', 'latitude', 'longitude', 'elevation_m',
       'dc_capacity_kW', 'kg_climate', 'pvcz_composite', 'pvcz_t_rack',
       'pvcz_t_roof', 'pvcz_humidity', 'pvcz_wind', 'tracking', 'type',
       'azimuth', 'tilt', 'first_timestamp', 'last_timestamp', 'years',
       'number_records', 'dataset_size_mb', 'available_sensor_channels',
       'qa_status', 'qa_issue', 'first_year', 'is_prize_data',
       'is_lake_parquet_data', 'is_lake_csv_data', 'has_irrad_data',
       'has_power_data', 'has_ambient_temp_data', 'has_some_temp_data',
       'has_pow_data', 'has_ac_data', 'has_dc_data'],
      dtype='str')

In [29]:
local_systems_types = local_systems.loc[:, ['is_prize_data', 'is_lake_parquet_data',
                                            'is_lake_csv_data']]

In [30]:
local_systems_types[['is_prize_data', 'is_lake_parquet_data',
                                            'is_lake_csv_data']].value_counts()

is_prize_data  is_lake_parquet_data  is_lake_csv_data
False          False                 True                1696
               True                  True                 158
True           False                 False                  5
False          False                 False                  3
Name: count, dtype: int64

In [31]:
all_false = local_systems_types[
    (~local_systems_types['is_prize_data'])
    & (~local_systems_types['is_lake_parquet_data'])
    & (~local_systems_types['is_lake_csv_data'])
]

In [32]:
all_false

      is_prize_data  is_lake_parquet_data  is_lake_csv_data
161           False                 False             False
1617          False                 False             False
1619          False                 False             False

In [39]:
my_times = local_systems[['first_timestamp']].value_counts(dropna=False)

In [34]:
local_systems_elec = local_systems.loc[
    :, ['system_id', 'has_ac_data', 'has_dc_data']
]

In [35]:
local_systems_elec.head()

   system_id  has_ac_data  has_dc_data
0          2         True         True
1          3         True         True
2          4         True         True
3         10         True         True
4         33         True         True

In [36]:
local_systems_elec['has_ac_data'].value_counts()

has_ac_data
True     1859
False       3
Name: count, dtype: int64

In [38]:
no_ac = local_systems_elec[
    ~local_systems_elec.loc[:, 'has_ac_data']
]
no_ac

      system_id  has_ac_data  has_dc_data
161        7334        False        False
1617      12423        False        False
1619      12494        False        False

In [40]:
local_systems_elec['has_dc_data'].value_counts()

has_dc_data
False    1562
True      300
Name: count, dtype: int64

In [18]:
my_str = 'prepare' 
my_str[0].upper() + my_str[1:]

'Prepare'

In [3]:
local_systems['has_irrad_data'].value_counts()

has_irrad_data
False    1794
True       68
Name: count, dtype: int64