In [1]:
import pandas as pd

In [3]:
local_systems = pd.read_csv('data/core/systems_cleaned.csv')

In [5]:
local_systems.columns

Index(['system_id', 'system_public_name', 'site_location',
       'timezone_or_utc_offset', 'latitude', 'longitude', 'elevation_m',
       'dc_capacity_kW', 'kg_climate', 'pvcz_composite', 'pvcz_t_rack',
       'pvcz_t_roof', 'pvcz_humidity', 'pvcz_wind', 'tracking', 'type',
       'azimuth', 'tilt', 'first_timestamp', 'last_timestamp', 'years',
       'number_records', 'dataset_size_mb', 'available_sensor_channels',
       'qa_status', 'qa_issue', 'first_year', 'is_prize_data',
       'is_lake_parquet_data', 'is_lake_csv_data', 'has_irrad_data'],
      dtype='object')

In [6]:
local_systems_just_new = local_systems.loc[
    :, ['system_id', 'latitude', 'longitude', 'first_year', 'is_prize_data', 'is_lake_parquet_data', 'is_lake_csv_data', 'has_irrad_data']
]

In [10]:
local_systems_just_new.head()

,system_id,latitude,longitude,first_year,is_prize_data,is_lake_parquet_data,is_lake_csv_data,has_irrad_data
0,2,39.7214,-105.0972,2010.0,False,True,False,True
1,3,39.7214,-105.0972,2010.0,False,True,False,True
2,4,39.7406,-105.1774,2007.0,False,True,False,True
3,10,39.7404,-105.1774,2006.0,False,True,False,True
4,33,39.7404,-105.1772,2010.0,False,True,False,True

In [8]:
local_systems_just_new['has_irrad_data'].value_counts()

has_irrad_data
False    1796
True       66
Name: count, dtype: int64