In [25]:
import pandas as pd
from pathlib import Path
import pyarrow as pa  # not yet needed, might need it later
import pyarrow.parquet as pq
import pyarrow.compute as pc  # not yet needed, might need it later.

## Reading Parquet-systems metrics metadata
First, look at the parquet metrics and see which ones you wish to study.

In [26]:
metrics_dir = Path('../../data/raw/parquet-metrics/')
# Note: We generally give a directory, rather than an individual file, to the next step.
metrics_pq = pq.ParquetDataset(metrics_dir)
metrics_df = metrics_pq.read().to_pandas()

In [27]:
metrics_df.head()

,system_id,metric_id,sensor_name,common_name,raw_units,units,calc_scale,calc_offset,calc_details,aggregation_type,source_type,source_id,comments,standard_name
0,10,422,dc_power,DC power,W,W,1.0,0.0,,avg,None,NaN,,dc_power__422
1,10,423,ac_power,AC power,W,W,1.0,0.0,,avg,None,NaN,,ac_power__423
2,10,427,ac_current,AC current,A,A,1.0,0.0,,avg,None,NaN,,ac_current__427
3,10,426,ac_voltage,AC voltage,V,V,1.0,0.0,,avg,None,NaN,,ac_voltage__426
4,10,425,dc_pos_current,DC current,A,A,1.0,0.0,,avg,None,NaN,,dc_pos_current__425

In [28]:
metrics_df.columns

Index(['system_id', 'metric_id', 'sensor_name', 'common_name', 'raw_units',
       'units', 'calc_scale', 'calc_offset', 'calc_details',
       'aggregation_type', 'source_type', 'source_id', 'comments',
       'standard_name'],
      dtype='object')

Let's pick a system -- say, '2' , and restrict our attention to that system

In [29]:
system_id = 2
metrics_our_system = metrics_df.loc[metrics_df.loc[:,'system_id'] == system_id]

In [30]:
metrics_our_system

,system_id,metric_id,sensor_name,common_name,raw_units,units,calc_scale,calc_offset,calc_details,aggregation_type,source_type,source_id,comments,standard_name
1297,2,346,dc_power,DC power,W,W,1.0,0.0,,avg,None,NaN,,dc_power__346
1298,2,348,dc_pos_current,DC current,A,A,1.0,0.0,,avg,None,NaN,,dc_pos_current__348
1299,2,351,das_battery_voltage,DC voltage battery,V,V,1.0,0.0,,avg,None,NaN,,das_battery_voltage__351
1300,2,345,poa_irradiance,Irradiance POA,W/m^2,W/m^2,1.0,0.0,,avg,None,NaN,,poa_irradiance__345
1301,2,349,module_temp_1,Temperature module,C,C,1.0,0.0,,avg,None,NaN,,module_temp_1__349
1302,2,347,dc_pos_voltage,DC voltage,V,V,1.0,0.0,,avg,None,NaN,,dc_pos_voltage__347
1303,2,350,das_temp,Temperature panel,C,C,1.0,0.0,,avg,None,NaN,,das_temp__350

For the current purposes, let's grab DC power, temperature, and irradiance
*However*, data is stored in the main parquet framework by metric_id,
so just manually choose the ids you want.

In [31]:
my_metric_ids = [345, 346, 349, 350]
metrics_our_system_pruned = metrics_our_system.loc[
    metrics_our_system.loc[:, 'metric_id'].isin(my_metric_ids)
]
metrics_our_system_pruned.head()

,system_id,metric_id,sensor_name,common_name,raw_units,units,calc_scale,calc_offset,calc_details,aggregation_type,source_type,source_id,comments,standard_name
1297,2,346,dc_power,DC power,W,W,1.0,0.0,,avg,None,NaN,,dc_power__346
1300,2,345,poa_irradiance,Irradiance POA,W/m^2,W/m^2,1.0,0.0,,avg,None,NaN,,poa_irradiance__345
1301,2,349,module_temp_1,Temperature module,C,C,1.0,0.0,,avg,None,NaN,,module_temp_1__349
1303,2,350,das_temp,Temperature panel,C,C,1.0,0.0,,avg,None,NaN,,das_temp__350

Grab the numbers and common names for later.

In [32]:
my_metric_ids = tuple(metrics_our_system_pruned['metric_id'])
my_metric_names = tuple(metrics_our_system_pruned['common_name'])

## Now read the relevant data

We now read the actual dataset, using our metric_ids to filter.

In [33]:
access_system_dir = Path(f'../../data/raw/systems/parquet/{system_id}/')
current_pq = pq.ParquetDataset(access_system_dir,
                               filters= [
                                   ('metric_id', 'in', my_metric_ids)
                               ])

In [34]:
current_df = current_pq.read().to_pandas()

In [35]:
current_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7931430 entries, 0 to 7931429
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   measured_on      datetime64[ns]
 1   utc_measured_on  datetime64[ns]
 2   metric_id        int32
 3   value            float64
dtypes: datetime64[ns](2), float64(1), int32(1)
memory usage: 211.8 MB

In [36]:
current_df.head()

          measured_on utc_measured_on  metric_id    value
0 2010-01-21 11:05:00             NaT        345  336.800
1 2010-01-21 11:05:00             NaT        349   18.140
2 2010-01-21 11:05:00             NaT        350    5.610
3 2010-01-21 11:08:00             NaT        350    5.657
4 2010-01-21 11:08:00             NaT        349   17.560

Looks good, but there is a trap hidden in the data.  We should have 3 copies of each measured_on, yes?

In [37]:
current_df.measured_on.value_counts()

measured_on
2020-01-13 14:50:00    8
2020-01-13 14:55:00    8
2020-01-13 14:10:00    8
2020-01-13 15:00:00    8
2020-01-13 15:30:00    8
                      ..
2010-01-21 11:44:00    4
2010-01-21 11:47:00    4
2010-01-21 11:48:00    4
2010-01-21 11:49:00    4
2010-01-21 11:17:00    4
Name: count, Length: 1910170, dtype: int64

Duplicates or something more?  Let's look at one case.

In [38]:
current_df_2020_01_13_320pm = current_df.loc[
    (current_df.loc[:, 'measured_on'].dt.year == 2020)
    & (current_df.loc[:, 'measured_on'].dt.month == 1)
    & (current_df.loc[:, 'measured_on'].dt.day == 13)
    & (current_df.loc[:, 'measured_on'].dt.hour == 15)
    & (current_df.loc[:, 'measured_on'].dt.minute == 20)
]

In [39]:
current_df_2020_01_13_320pm

                measured_on     utc_measured_on  metric_id       value
7931133 2020-01-13 15:20:00 2020-01-13 22:20:00        350    9.479595
7931217 2020-01-13 15:20:00 2020-01-13 22:20:00        345   69.584430
7931218 2020-01-13 15:20:00 2020-01-13 22:20:00        350    9.479595
7931219 2020-01-13 15:20:00 2020-01-13 22:20:00        349   20.423150
7931306 2020-01-13 15:20:00 2020-01-13 22:20:00        346  361.241300
7931394 2020-01-13 15:20:00 2020-01-13 22:20:00        346  361.241300
7931395 2020-01-13 15:20:00 2020-01-13 22:20:00        345   69.584430
7931396 2020-01-13 15:20:00 2020-01-13 22:20:00        349   20.423150

Phew, it appears to be duplicates!

In [40]:
current_df = current_df.drop_duplicates()

In [41]:
current_df.measured_on.value_counts()

measured_on
2020-01-13 16:45:00    4
2010-01-21 11:05:00    4
2010-01-21 11:08:00    4
2010-01-21 11:09:00    4
2010-01-21 11:10:00    4
                      ..
2019-06-14 15:15:00    3
2019-06-14 09:10:00    3
2019-06-05 20:55:00    3
2019-05-29 14:55:00    3
2019-05-17 18:45:00    3
Name: count, Length: 1910170, dtype: int64

Note that we have all metrics in the same value column.
This is often good for plotting, but not so good for reading.
We make a wide variant

In [42]:
current_df_wide = current_df.pivot(
    index = 'measured_on', 
    columns = 'metric_id',
    values = 'value'
)

In [43]:
current_df_wide.head()

metric_id              345    346    349    350
measured_on
2010-01-21 11:02:00  332.0  13.31  18.63  5.564
2010-01-21 11:03:00  343.1  13.06  18.37  5.573
2010-01-21 11:04:00  345.4  13.07  18.12  5.591
2010-01-21 11:05:00  336.8  13.06  18.14  5.610
2010-01-21 11:06:00  321.9  12.48  17.95  5.625

Rename the columns!

In [44]:
changeup_dict = {
    my_metric_ids[j]: my_metric_names[j] for j in range(len(my_metric_ids))
}

In [45]:
current_df_wide = current_df_wide.rename(
    columns=changeup_dict
)

In [46]:
current_df_wide

metric_id,Irradiance POA,DC power,Temperature module,Temperature panel
measured_on,,,,
2010-01-21 11:02:00,332.00000,13.31000,18.630000,5.564000
2010-01-21 11:03:00,343.10000,13.06000,18.370000,5.573000
2010-01-21 11:04:00,345.40000,13.07000,18.120000,5.591000
2010-01-21 11:05:00,336.80000,13.06000,18.140000,5.610000
2010-01-21 11:06:00,321.90000,12.48000,17.950000,5.625000
...,...,...,...,...
2020-01-13 16:25:00,20.65313,28.74832,2.181308,9.044684
2020-01-13 16:30:00,17.63354,26.35972,1.808504,8.955369
2020-01-13 16:35:00,15.80738,21.83201,1.703745,8.866957
2020-01-13 16:40:00,14.00241,10.90820,1.513565,8.782425
2020-01-13 16:45:00,11.47557,11.79171,1.305397,8.700903

Quick missingness check

In [47]:
missing_count_original = current_df.shape[0] - current_df.count()
missing_count_original

measured_on              0
utc_measured_on    7349888
metric_id                0
value                    0
dtype: int64

In [48]:
missing_count_wide = current_df_wide.shape[0] - current_df_wide.count()
missing_count_wide

metric_id
Irradiance POA         0
DC power              21
Temperature module     0
Temperature panel      0
dtype: int64

OK, missing a fraction of DC power terms, but otherwise good!

## Saving the Dataframe

Let's practice saving one of the pruned DataFrames.  pd has a to_parquet_column, thankfully.

Final cleaned data should go in `data/cleaned/systems/parquet/system_id/`,
but for practice, I have `data/parquet_practice` set aside.
You should *not* Git-push the contents of the folder!

The example re-saves the non-wide-data, and will partition it by data-type, not by day.

In [ ]:
test_save_dir = Path('../../data/parquet_practice/system_2')
if not test_save_dir.is_dir():
    test_save_dir.mkdir()
current_df.to_parquet(
    path = test_save_dir,
    partition_cols=['metric_id'],
    index=None
)
# Note: if we saved the wide data, we would probably want to retain the index, as that has the measured dates.

## Retrieve the data we just stored.

In [50]:
retry_pq = pq.ParquetDataset(test_save_dir)
retry_df = retry_pq.read().to_pandas()
retry_df.head()

          measured_on utc_measured_on  value metric_id
0 2010-01-21 11:05:00             NaT  336.8       345
1 2010-01-21 11:09:00             NaT  338.9       345
2 2010-01-21 11:11:00             NaT  332.4       345
3 2010-01-21 11:13:00             NaT  345.7       345
4 2010-01-21 11:19:00             NaT  320.8       345

In [51]:
retry_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7640659 entries, 0 to 7640658
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   measured_on      datetime64[ns]
 1   utc_measured_on  datetime64[ns]
 2   value            float64
 3   metric_id        category
dtypes: category(1), datetime64[ns](2), float64(1)
memory usage: 182.2 MB

In [52]:
retry_df_df_wide = retry_df.pivot(
    index = 'measured_on', 
    columns = 'metric_id',
    values = 'value'
)

In [53]:
retry_df_df_wide.head()

metric_id              345    346    349    350
measured_on
2010-01-21 11:02:00  332.0  13.31  18.63  5.564
2010-01-21 11:03:00  343.1  13.06  18.37  5.573
2010-01-21 11:04:00  345.4  13.07  18.12  5.591
2010-01-21 11:05:00  336.8  13.06  18.14  5.610
2010-01-21 11:06:00  321.9  12.48  17.95  5.625

In [54]:
retry_df['measured_on'].value_counts()

measured_on
2020-01-13 16:45:00    4
2010-01-21 11:05:00    4
2010-01-21 11:09:00    4
2010-01-21 11:11:00    4
2010-01-21 11:13:00    4
                      ..
2019-06-14 15:15:00    3
2019-06-14 09:10:00    3
2019-06-05 20:55:00    3
2019-05-29 14:55:00    3
2019-05-17 18:45:00    3
Name: count, Length: 1910170, dtype: int64

In [55]:
retry_df = retry_df.drop_duplicates()

In [56]:
retry_df['measured_on'].value_counts()

measured_on
2020-01-13 16:45:00    4
2010-01-21 11:05:00    4
2010-01-21 11:09:00    4
2010-01-21 11:11:00    4
2010-01-21 11:13:00    4
                      ..
2019-06-14 15:15:00    3
2019-06-14 09:10:00    3
2019-06-05 20:55:00    3
2019-05-29 14:55:00    3
2019-05-17 18:45:00    3
Name: count, Length: 1910170, dtype: int64

In [57]:
retry_df['metric_id'].value_counts()

metric_id
345    1910170
349    1910170
350    1910170
346    1910149
Name: count, dtype: int64

In [58]:
retry_df.shape[0] - retry_df.count()

measured_on              0
utc_measured_on    7349888
value                    0
metric_id                0
dtype: int64

In [59]:
retry_df_df_wide.shape[0] - retry_df_df_wide.count()

metric_id
345     0
346    21
349     0
350     0
dtype: int64

It worked!  And each metric_id is together for further analysis!

## Merging different metrics
Testing how to merge different metric_id's below.
The requirements are twofold:
1.  No overlap in metric_id values
2.  When saving, set index=True or the default index=None

In [60]:
import numpy as np
rng = np.random.default_rng()

In [61]:
import pandas as pd
random_noise = rng.uniform(
    low=0,
    high=1,
    size = (9,)
)
random_ids = np.array([0, 1, 2]*3)
data_dict = {
    'var_id': random_ids,
    'value': random_noise
}
long_df = pd.DataFrame(data_dict)

In [62]:
long_df

   var_id     value
0       0  0.541617
1       1  0.784493
2       2  0.620538
3       0  0.159464
4       1  0.011430
5       2  0.427766
6       0  0.718501
7       1  0.151220
8       2  0.778459

In [63]:
selectionA = long_df.loc[long_df.loc[:, 'var_id'].isin([0, 1])]
selectionB = long_df.loc[long_df.loc[:, 'var_id'] == 2]

In [64]:
temp_dir = Path('./temp')

In [73]:
selectionA.to_parquet(
    path = temp_dir,
    partition_cols =  ['var_id'],
    index=None
)

In [74]:
selectionB.to_parquet(
    path = temp_dir,
    partition_cols= ['var_id'],
    index=None
)

In [75]:
temp_select = pq.ParquetDataset(temp_dir)
temp_df = temp_select.read().to_pandas()

In [76]:
temp_df

      value var_id
0  0.541617      0
3  0.159464      0
6  0.718501      0
1  0.784493      1
4  0.011430      1
7  0.151220      1
2  0.620538      2
5  0.427766      2
8  0.778459      2